<h1>_ARCHITEKT</h1>
<h2>{{author}}</h2>
<img src="{{link}}" alt="oops">
<p>{{description}}</p>

<form action="http://localhost:3000/gallery/{{id}}/edit">
    <input type="submit" value="Edit Photo" />
</form>

<form action="#" method="POST">
<input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Photo" />
</form>
