<div class="wrapper">

 <div class="one">
  <hr>
  <h1>_ARCHITEKT<a href="/gallery/new"></a></h1>
 </div>


 <div class="two">
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eius ea nam excepturi dolor, debitis adipisci dolorem consectetur placeat voluptas itaque voluptatem sed quod, id doloremque quisquam dolorum optio perferendis!</p>
 </div>

 <div class="three">
  <img class="featurePhoto" src="http://ishowmy.support/img/user-icon-360x360.jpg">
 </div>

 <div class="newForm">
  <form action="/gallery/login" method="POST">
   _USERNAME:<br>
   <input type="text" name="username"><br>
   _PASSWORD:<br>
   <input type="password" name="password"><br>
   <input type="submit" value="Submit">
  </form>
 </div>

</div>