<div class="wrapper">
 <div class="one">
  <hr>
  <a href="/gallery"><h1>_ARCHITEKT</h1></a>
 </div>

 <div class="two">
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eius ea nam excepturi dolor, debitis adipisci dolorem consectetur placeat voluptas itaque voluptatem sed quod, id doloremque quisquam dolorum optio perferendis!</p>
 </div>

 <div class="three">
  <img class="featurePhoto" src="http://png-1.vector.me/files/images/2/8/281745/camera_thumb">
 </div>

 <div class="newForm">
  <form action="/gallery" method="POST">
   _AUTHOR:<br>
   <input type="text" name="author"><br>
   _LINK:<br>
   <input type="text" name="link"><br>
   _DESCRIPTION:<br>
   <input type="text" name="description"><br>
   <input type="submit" value="Submit">
  </form>
 </div>

</div>















