<h1>_ARCHITEKT</h1>
<form action="/gallery" method="POST">
  Author:<br>
  <input type="text" name="author"><br>
  Link:<br>
  <input type="text" name="link"><br>
  Description:<br>
  <input type="text" name="description"><br>
  <input type="submit" value="Submit">
</form>