.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto); }

.innerWrapper {
  max-width: none; }

.innerWrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem; }

@media screen and (min-width: 540px) {
  .container {
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between; } }
